Makefile.convert-dtsv0 filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
util.c filter=lfs diff=lfs merge=lfs -text
Documentation filter=lfs diff=lfs merge=lfs -text
dtc.h filter=lfs diff=lfs merge=lfs -text
dtc-parser.y filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
util.h filter=lfs diff=lfs merge=lfs -text
convert-dtsv0-lexer.l filter=lfs diff=lfs merge=lfs -text
fdtdump.c filter=lfs diff=lfs merge=lfs -text
flattree.c filter=lfs diff=lfs merge=lfs -text
Makefile.dtc filter=lfs diff=lfs merge=lfs -text
dtdiff filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
yamltree.c filter=lfs diff=lfs merge=lfs -text
data.c filter=lfs diff=lfs merge=lfs -text
pylibfdt filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
README.license filter=lfs diff=lfs merge=lfs -text
README.version filter=lfs diff=lfs merge=lfs -text
srcpos.c filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
dtc-lexer.l filter=lfs diff=lfs merge=lfs -text
fdtoverlay.c filter=lfs diff=lfs merge=lfs -text
fstree.c filter=lfs diff=lfs merge=lfs -text
libfdt filter=lfs diff=lfs merge=lfs -text
srcpos.h filter=lfs diff=lfs merge=lfs -text
version_non_gen.h filter=lfs diff=lfs merge=lfs -text
dtc.c filter=lfs diff=lfs merge=lfs -text
fdtput.c filter=lfs diff=lfs merge=lfs -text
livetree.c filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
TODO filter=lfs diff=lfs merge=lfs -text
treesource.c filter=lfs diff=lfs merge=lfs -text
fdtget.c filter=lfs diff=lfs merge=lfs -text
BSD-2-Clause filter=lfs diff=lfs merge=lfs -text
checks.c filter=lfs diff=lfs merge=lfs -text
GPL filter=lfs diff=lfs merge=lfs -text
Makefile.utils filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_GPL filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
